<nav class="navbar">
  <ul class="nav-links">
    <li
      class="nav-item"
      routerLink="pokemon"
      [class.active]="activeTab === 'home'"
      (click)="setActive('home')"
    >
      <img src="pokemon.png" alt="Home" />
      <span>Home</span>
    </li>
    <li
      class="nav-item"
      routerLink="cart"
      [class.active]="activeTab === 'cart'"
      (click)="setActive('cart')"
    >
      <img src="pokeball.png" alt="Cart" />
      <span>Cart</span>
    </li>
    <li
      class="nav-item"
      routerLink="about"
      [class.active]="activeTab === 'about'"
      (click)="setActive('about')"
    >
      <img src="heart.png" alt="About" />
      <span>About</span>
    </li>
    <li
  class="nav-item"
  routerLink="profile"
  [class.active]="activeTab === 'profile'"
  (click)="setActive('profile')"
>
<img src="https://cdn-icons-png.flaticon.com/512/188/188987.png" alt="Profile" width="24" height="24" />
  <span>Profile</span>
</li>
<li
  class="nav-item"
  routerLink="signout"
  [class.active]="activeTab === 'signout'"
  (click)="setActive('signout')"
>
<img src="https://cdn-icons-png.flaticon.com/512/188/188990.png" alt="Profile" width="24" height="24" />
  <span>Sign Out</span>
</li>
  </ul>
</nav>
